<%= form_for(@short_name) do |f| %>
  <% if @short_name.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@short_name.errors.count, "error") %> prohibited this short_name from being saved:</h2>

      <ul>
      <% @short_name.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
